*, *:before, *:after {
  box-sizing: border-box;
}

body {
  width: 100%;
  background-color: #dadada;
  font-size: 16px;
}

  .container {
    margin: 0 auto;
  }

  h1 {
    font-family: 'Helvetica', Arial, sans-serif;
    font-variant: small-caps;
    letter-spacing: 1px;
    text-align: center;
    padding: 20px 0 30px 0;
  }


 .preview {
    min-height: 350px;
    margin: 0 auto;
  }


  .baku {
    background-image: url(../images/baku.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    margin-bottom: -40px;
  }


  .baku h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5em;
    font-variant: normal;
    text-align: left;
    margin: 50px 0 0 30px;

  }

  .london {
    background-image: url(../images/london.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    margin-bottom: -40px;
  }

  .london h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5em;
    font-variant: normal;
    text-align: left;
    margin: 50px 0 0 30px;

  }

  .madrid {
    background-image: url(../images/madrid.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    margin-bottom: -40px;
  }

  .madrid h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5em;
    font-variant: normal;
    text-align: left;
    margin: 50px 0 0 30px;

  }

  .rome {
    background-image: url(../images/rome.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    margin-bottom: 15px;

  }

  .rome h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5em;
    font-variant: normal;
    text-align: left;
    margin: 50px 0 0 30px;

  }

  @media only screen and (min-width: 768px) {
    .container {
      width: 100%;
      margin: 0 auto;
    }

    .preview {
       height: 300px;
       width: 45%;
     }

     .baku {
       background-image: url(../images/baku.jpg);
       background-size: 100% 100%;
       background-repeat: no-repeat;
       margin-bottom: 20px;
       width: 45%;
       object-fit: cover;
       object-position: 50% 50%;
       float: left;
       margin-left: 40px;
       margin-right: 20px;
     }

     .london {
       background-image: url(../images/london.png);
       background-size: 100% 100%;
       background-repeat: no-repeat;
       margin-bottom: 20px;
       width: 45%;
       object-fit: cover;
       object-position: 50% 50%;
       float: left;
     }

     .madrid {
       background-image: url(../images/madrid.jpg);
       background-size: 100% 100%;
       background-repeat: no-repeat;
       margin-bottom: 20px;
       width: 45%;
       object-fit: cover;
       object-position: 50% 50%;
       float: left;
       margin-left: 40px;
       margin-right: 20px;
     }

     .rome {
       background-image: url(../images/rome.jpg);
       background-size: 100% 100%;
       background-repeat: no-repeat;
       margin-bottom: 20px;
       width: 45%;
       object-fit: cover;
       object-position: 50% 50%;
       float: left;
     }

}

  @media only screen and (min-width: 992px) {
    body {
      background-color: #dadada;
    }

    .container {
      width: 90%;
      margin: 0 auto;
    }

    .preview {
       margin: 5px;
       overflow: hidden;
     }

     .baku {
       background-image: url(../images/baku.jpg);
       background-size: 100% 70%;
       background-repeat: no-repeat;
       width: 23%;
       object-fit: cover;
       object-position: 50% 50%;
       margin-left: 20px;
     }

     .london {
       background-image: url(../images/london.png);
       background-size: 100% 70%;
       background-repeat: no-repeat;
       margin-bottom: 20px;
       width: 23%;
       object-fit: cover;
       object-position: 50% 50%;
     }

     .madrid {
       background-image: url(../images/madrid.jpg);
       background-size: 100% 70%;
       background-repeat: no-repeat;
       margin-bottom: 20px;
       width: 23%;
       object-fit: cover;
       object-position: 50% 50%;
     }

     .rome {
       background-image: url(../images/rome.jpg);
       background-size: 100% 70%;
       background-repeat: no-repeat;
       margin-bottom: 20px;
       width: 23%;
       object-fit: cover;
       object-position: 50% 50%;

      }


  }
